body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding: 0;
    vertical-align: middle;
}

.backing {
    margin: auto;
    width: 210px;
    height: 210px;
    background-color: lightgray;
}

.container {
    position: relative;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}
